:root{
    --color-prymary: #ff0000;
}
@font-face {
    font-family: Poppins;
    src: url(/storage/font/Poppins/Poppins-Bold.ttf);
}
@font-face {
    font-family: PoppinsRe;
    src: url(/storage/font/Poppins/Poppins-Regular.ttf);
}