:root{
    --color-prymary: #ff0000;
}
@font-face {
    font-family: "ptsS";
    src: url(../storage/font/PT_Serif/PTSerif-Bold.ttf);
}
@font-face {
    font-family: "pr";
    src: url(../storage/font/proxima-nova-2/Mark\ Simonson\ \ Proxima\ Nova\ Regular.otf);
}